<h5><a href="/images">Image Index</a></h5> <h5><a href="/telescopes">Telescope Index</a></h5>
<h1>Images for <%= @telescope.name %></h1>
<% @images.each do |image| %>
<h2>Name: <%= image.name %></h2>
<p>Image ID: <%= image.id %> <%= link_to "Update #{image.name}", "images/#{image.id}/edit" %></p>
<p>Telescope ID: <%= image.telescope_id %></p>
<p>Image description: <%= image.image_description %></p>
<p>Picture of earth?: <%= image.earth_in_view %></p>
<p>Picture Exif version: <%= image.exif_version %></p>
<p>Entry created at: <%= image.created_at %></p>
<p>Entry updated at: <%= image.updated_at %></p>
<% end %>
<%= link_to "Create Image", "/telescopes/#{@telescope.id}/images/new" %>
<%= link_to "Sort Images Alphabetically", "/telescopes/#{@telescope.id}/images?order=clicked", method: :get %>